extends ../default
block content

	include ../menu/navmenu

	div(class=['ui', 'grid', 'container'])
		div(class='row')
		div(class='row')
		div(class=['ui', 'grid', 'container','stackable'])

			div(class=['floated', 'sixteen', 'wide', 'column', 'segment'])

				button(class=['fluid', 'ui', 'button', 'active'])='Mantenimiento de Planilla'

				a(class=['ui button icon teal'] data-tooltip='Nuevo' data-position='top center' data-inverted='' id='nuevousuario' href='https://cementerioapp.herokuapp.com/pantallas/addusuarios')
					i(class=['add icon'])
				div(class=['ui', 'slider', 'checkbox'])
					input(type='checkbox' name='filtro-N' id='idfiltro-N')
					label='Ver todos los usuarios'

				table(class=['ui','table','celled'] id='tbl-usuarios')
					thead
						tr
							th='Código'
							th='Apellidos'
							th='Nombres'
							th='Correo Electrónico'
							th='Estado'
							th='Opciones'
					tbody(id='myTableBody')
						each datosusuario in datosusuarios
							tr
								td
									a(class=['ui button black basic'] href='https://cementerioapp.herokuapp.com/pantallas/editusuarios/'+ datosusuario.CodigoUsuario data-tooltip='Ver Detalle' data-position='top right' data-inverted='')=datosusuario.CodigoUsuario
								td= datosusuario.ApellidosUsuario
								td= datosusuario.NombresUsuario
								td= datosusuario.CorreoElectronicoUsuario
								td= datosusuario.ActivoInactivoUsuario
								td
									a(class=['ui button teal icon'] onclick="inactivar_usuario('"+datosusuario.CodigoUsuario+"')" data-tooltip='Inactivar' data-position='top right' data-inverted='')
										i(class=['window close icon'])
									a(class=['ui button teal icon'] onclick="borrar_usuario('"+datosusuario.CodigoUsuario+"')" data-tooltip='Borrar' data-position='top right' data-inverted='')
										i(class=['trash icon'])

	script(type='text/javascript').

		function inactivar_usuario(codigousuario) {

			swal({
				title: "Esta seguro de inactivar el usuario " + codigousuario +  "?",
				text: "El usuario no sera observable por el filtro activo.",
				type: "warning",
				showCancelButton: true,
				cancelButtonText: "No, Cancelar",
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Si, Inactivar!",
				closeOnConfirm: false,
				closeOnCancel: true
			},

			function() {

				var weHaveSuccess = false;
				$.ajax({
					url : 'https://cementerioapp.herokuapp.com/pantallas/disableusuarios/',
					type: 'POST',
					dataType:'json',
					data : { 
					 CodigoUsuario : codigousuario
					},
					success: function(datosretornados){
						if(datosretornados.res==true){
							swal("Hecho!", "El usuario ha sido inactivado.", "success");
							window.location.href ='https://cementerioapp.herokuapp.com/pantallas/usuarios';
						}
						weHaveSuccess = true;
					},
					error: function(xhr, status, error){
						swal("Error!", "No se puede conectar a maquina servidor del sistema!", "error");
					},
					complete: function(){
						if(!weHaveSuccess){
							swal("Error!", "No se puede conectar a maquina servidor del sistema!", "error");
						}
					}
				});

			});

		}

		function borrar_usuario(codigousuario) {

			swal({
				title: "Esta seguro de borrar el usuario " + codigousuario +  "?",
				text: "Tambien seran borrados los perfiles asociados.",
				type: "warning",
				showCancelButton: true,
				cancelButtonText: "No, Cancelar",
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Si, Borrar!",
				closeOnConfirm: false,
				closeOnCancel: true
			},

			function() {

				var weHaveSuccess = false;
				$.ajax({
					url : 'https://cementerioapp.herokuapp.com/pantallas/delusuarios/',
					type: 'POST',
					dataType:'json',
					data : { 
					 CodigoUsuario : codigousuario
					},
					success: function(datosretornados){
						if(datosretornados.res==true){
							swal("Hecho!", "El usuario ha sido borrado.", "success");
							window.location.href ='https://cementerioapp.herokuapp.com/pantallas/usuarios';
						}
						weHaveSuccess = true;
					},
					error: function(xhr, status, error){
						swal("Error!", "No se puede conectar a maquina servidor del sistema!", "error");
					},
					complete: function(){
						if(!weHaveSuccess){
							swal("Error!", "No se puede conectar a maquina servidor del sistema!", "error");
						}
					}
				});

			});

		}

		$('.ui.checkbox').checkbox({
			beforeChecked: function() {
				$('#tbl-usuarios').DataTable()
					.columns(4)
					.search( '' )
					.draw();
			},
			beforeUnchecked: function() {
				$('#tbl-usuarios').DataTable()
					.columns(4)
					.search( 'A' )
					.draw();
			}			
		});

		$('#tbl-usuarios').DataTable({
			"dom": '<"top"if>rt<"bottom"lp><"clear">',

			columnDefs: [
				{ width: '12%', targets: 0 },
				{ width: '12%', targets: 1 },
				{ width: '12%', targets: 2 },
				{ width: '12%', targets: 3 },
				{ width: '12%', targets: 4 },
				{ width: '12%', targets: 5 }
			],

			colReorder: true,
			responsive: true,			
			paging: true,
			select: {
				style: 'single'
			},
			'pageLength': 5,
			 "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "todo"]],
			'order': [[ 0, 'desc' ]],
			stateSave: true,
			'language': {
				'url': '/datatable/language/Spanish.json',
				select: {
					rows: "%d fila(s) seleccionada(s)"
				}
			},

			"rowCallback": function( row, data, index ) {
				if(index%2 == 0){
					$(row).removeClass('myodd myeven');
					$(row).addClass('myodd');
					}
				else{
					$(row).removeClass('myodd myeven');
					$(row).addClass('myeven');
				}
			}
		});

		$('#tbl-usuarios').DataTable()
			.columns(4)
			.search( 'A' )
			.draw();


